body {
  text-align: center;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: whitesmoke; */
  /* font-family: 'Open Sans', calibri; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.summary{
  display: flex;
  justify-content: space-between;
  color: black;
}

nav{
  background: #92b2ba;
  background: #2E88D4;
}

nav h3{
  color: white;
}

table{
  margin: 10px auto;
  border-spacing: 0 5px;
  width: 80%;
}

.course-row:hover{
  background-color: lightgrey;
  cursor: pointer;
}

.student-row:hover{
  background-color: lightgrey;
  cursor: pointer;
}

.student-row-highlight{
  color: red;
}

button{
  border: 1px solid #92b2ba;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
  background-color: #f0a8bb;
  border: 1px solid #f0a8bb;
  border-radius: 2px;
}

nav h3:hover {
  cursor: pointer;
}

td{
  /* border: 1px solid black; */
}

.table-button{
  width: 6%;
}

.chart{
  margin: 10px auto;
  width: 80%;
}

header{
 background: url("banner2.png");
 background-repeat: no-repeat;
 background-size: cover;
 width: 80%;
 height: 300px;
 margin: 0 auto;
}

header h1{
  font-size: 80px;
  color: #92b2ba;
  text-shadow: 4px 4px grey;
  padding-top: 180px;
}

h3{
  color: #92b2ba;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

fieldset{
  box-sizing: border-box;
  margin: 0px auto;
  width: 80%;
  text-align: left;
  padding: 0 25px;
  color: #92b2ba;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  background-color: #eeeeee;
}

fieldset h4{
  margin-top: 0;
}

form label{
  margin: 10px;
}

input[type="submit"], .cancel {
  width: 5%;
  height: 25px;
  background: #92b2ba;
  border-radius: 5px;
  box-shadow: 2px 2px grey;
  margin: 20px;
}

.cancel{
  display: inline-block;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #f0a8bb;
}
